NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SERPAPI_API_KEY=
SERPAPI_SEARCH_ENDPOINT=https://serpapi.com/search
SERPAPI_HL=vi
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
OPENAI_CHAT_COMPLETIONS_ENDPOINT=https://api.openai.com/v1/chat/completions
